@model ProjectCDTT_63132701.Models.KhachHang

@{
    ViewBag.Title = "Tạo mới khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/create.css" />
</head>

<div class="form-wrapper">
    <a href="javascript:history.back()" class="back-button">
        <i class="fa-solid fa-chevron-left"></i> Quay lại
    </a>
    <h2>Tạo mới khách hàng</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <!-- Cột trái -->
            <div class="col-md-6">
                <div class="mb-3">
                    @Html.LabelFor(model => model.HoTen, "Họ và tên")
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.Email, "Email")
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.MatKhau, "Mật khẩu")
                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Cột phải -->
            <div class="col-md-6">
                <div class="mb-3">
                    @Html.LabelFor(model => model.SoDienThoai, "Số điện thoại")
                    @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.DiaChi, "Địa chỉ")
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.VaiTro, "Vai trò")
                    @Html.EditorFor(model => model.VaiTro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VaiTro, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-new ">
                    <i class="fa-solid fa-check"></i> Lưu thông tin
                </button>
            </div>
        </div>
    }
</div>
