@model ProjectCDTT_63132701.Models.KhachHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/shared/_LayoutAdmin.cshtml";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/delete.css" />
</head>

<div class="form-wrapper">
    <a href="javascript:history.back()" class="back-button">
        <i class="fa-solid fa-chevron-left"></i> Quay lại
    </a>
    <h2 class="mb-4">Bạn có chắc chắn muốn xóa khách hàng này?</h2>

    <div class="row">
        <div class="col-md-12">
            <dl class="row">
                <dt class="col-sm-3">Họ tên:</dt>
                <dd class="col-sm-9">@Model.HoTen</dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@Model.Email</dd>

                <dt class="col-sm-3">Mật khẩu:</dt>
                <dd class="col-sm-9">@Model.MatKhau</dd>

                <dt class="col-sm-3">Số điện thoại:</dt>
                <dd class="col-sm-9">@Model.SoDienThoai</dd>

                <dt class="col-sm-3">Địa chỉ:</dt>
                <dd class="col-sm-9">@Model.DiaChi</dd>

                <dt class="col-sm-3">Vai trò:</dt>
                <dd class="col-sm-9">@Model.VaiTro</dd>
            </dl>

            @using (Html.BeginForm("Delete", "khach_hang", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.MaKH)

                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button type="submit" class="btn-submit">
                        <i class="fas fa-trash-alt"></i> Xóa
                    </button>
                    <a href="@Url.Action("QLKH", "khach_hang")" class="btn-cancel">
                        Hủy
                    </a>
                </div>

            }
        </div>
    </div>
</div>
