@model ProjectCDTT_63132701.Models.KhachHang

@{
    ViewBag.Title = "Chi tiết khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/create.css" />
</head>

<div class="form-wrapper">
    <a href="javascript:history.back()" class="back-button">
        <i class="fa-solid fa-chevron-left"></i> Quay lại
    </a>
    <h2 >Chi tiết khách hàng</h2>

    <dl class="dl-horizontal">
        <div class="row mb-2">
            <dt class="col-sm-3">Họ tên:</dt>
            <dd class="col-sm-9">@Model.HoTen</dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">@Model.Email</dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-3">Mật khẩu:</dt>
            <dd class="col-sm-9">@Model.MatKhau</dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-3">Số điện thoại:</dt>
            <dd class="col-sm-9">@Model.SoDienThoai</dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-3">Địa chỉ:</dt>
            <dd class="col-sm-9">@Model.DiaChi</dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-3">Vai trò:</dt>
            <dd class="col-sm-9">
                @(Model.VaiTro == "Admin" ? "Quản trị viên" : "Khách hàng")
            </dd>

        </div>
    </dl>
</div>
