@model ProjectCDTT_63132701.Models.KhachHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/shared/_LayoutAdmin.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/create.css" />
</head>

<div class="form-wrapper">
    <a href="javascript:history.back()" class="back-button">
        <i class="fa-solid fa-chevron-left"></i> Quay lại
    </a>
    <h2 class="mb-4">Chỉnh sửa khách hàng</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MaKH)

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    @Html.LabelFor(model => model.HoTen, "Họ tên", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.HoTen, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Email, "Email", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.MatKhau, "Mật khẩu", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.MatKhau, new { @class = "form-control", type = "password" })
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    @Html.LabelFor(model => model.SoDienThoai, "Số điện thoại", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.SoDienThoai, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.DiaChi, "Địa chỉ", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.VaiTro, "Vai trò", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.VaiTro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VaiTro, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <div class="d-inline-flex gap-2">
                <button type="submit" class="btn-submit">
                    <i class="fa-solid fa-check"></i> Lưu thông tin
                </button>
                @Html.ActionLink("Hủy", "QLKH", null, new { @class = "btn-cancel text-decoration-none" })
            </div>
        </div>
    }
</div>
