@model IEnumerable<ProjectCDTT_63132701.Models.khach_hang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ho_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mat_khau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.so_dien_thoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dia_chi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vai_tro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ho_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mat_khau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.so_dien_thoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dia_chi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vai_tro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
