@model IEnumerable<ProjectCDTT_63132701.Models.DonHang>
@{
    ViewBag.Title = "QLDH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/Content/qlsp.css" />
    <link rel="stylesheet" href="~/Content/pagination.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<h2>Danh sách đơn hàng</h2>
<table class="table table-bordered" id="tableQLDH">
    <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Họ và tên</th>
            <th>Ngày tạo</th>
            <th>Tổng tiền</th>
            <th>Mã vận đơn</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaDH)</td>
                <td>@Html.DisplayFor(modelItem => item.KhachHang.HoTen)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayTao)</td>
                <td>@String.Format("{0:N0} đ", item.TongTien)</td>
                <td>@Html.DisplayFor(modelItem => item.MaVanDon)</td>
                <td>
                    @if (item.TrangThai == "Pending")
                    {
                        <span>Chưa duyệt</span>
                    }
                    else if (item.TrangThai == "Confirmed")
                    {
                        <span>Đã duyệt</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.TrangThai)
                    }
                </td>
                <td>
                    <form id="form-@item.MaDH" action="@Url.Action("DuyetDonHang", "Don_hang")" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.MaDH" />

                        <button type="button"
                                class="openConfirmModal btn @(item.TrangThai == "Confirmed" ? "btn-success" : "btn-secondary") btn-sm"
                                data-title="@(item.TrangThai == "Confirmed" ? "Xác nhận hủy duyệt đơn hàng" : "Xác nhận duyệt đơn hàng")"
                                data-message="@(item.TrangThai == "Confirmed" ? "Bạn có chắc chắn muốn hủy duyệt đơn hàng này không?" : "Bạn có chắc chắn muốn duyệt đơn hàng này không?")"
                                data-form="form-@item.MaDH"
                                title="@(item.TrangThai == "Confirmed" ? "Hủy duyệt" : "Duyệt đơn")">
                            <i class="fa-solid fa-check"></i>
                        </button>

                    </form>
                    <div class="modal fade" id="confirmOrderModal" tabindex="-1" aria-labelledby="confirmOrderModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmOrderModalLabel"></h5>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                    <button type="button" id="btnConfirmOrder" class="btn modal-btn">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <a href="@Url.Action("Index", new { id = item.MaDH })" class="btn btn-info btn-sm" title="Xem chi tiết">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="@Url.Action("Edit", new { id = item.MaDH })" class="btn btn-warning btn-sm" title="Chỉnh sửa">
                        <i class="fas fa-edit"></i>
                    </a>


                    <a href="@Url.Action("Delete", new { id = item.MaDH })" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc muốn xóa đơn hàng này?');" title="Xóa">
                        <i class="fas fa-trash"></i>
                    </a>


                </td>
            </tr>
        }
    </tbody>
</table>

<div id="pagination" class="mt-3"></div>

<script>
    //setTimeout(function () {
    //    var message = document.getElementById("successMessage");
    //    if (message) {
    //        message.style.transition = "opacity 0.5s ease";
    //        message.style.opacity = 0;
    //        setTimeout(function () {
    //            message.remove();
    //        }, 500);
    //    }
    //}, 3000);

    $(document).ready(function () {
        var itemsPerPage = 10;
        var items = $("#tableQLDH tbody tr");
        var numItems = items.length;

        $('#pagination').pagination({
            items: numItems,
            itemsOnPage: itemsPerPage,
            cssStyle: 'light-theme',
            prevText: '←',
            nextText: '→',
            onPageClick: function (pageNumber) {
                var showFrom = itemsPerPage * (pageNumber - 1);
                var showTo = showFrom + itemsPerPage;
                items.hide().slice(showFrom, showTo).show();
            }
        });

        items.hide().slice(0, itemsPerPage).show();
    });


    $(document).on('click', '.openConfirmModal', function () {
        var title = $(this).data('title');
        var message = $(this).data('message');
        currentFormId = $(this).data('form');
        $('#confirmOrderModalLabel').text(title);
        $('#confirmOrderModal .modal-body').text(message);

        $('#confirmOrderModal').modal('show');
    });



    $('#btnConfirmOrder').on('click', function () {
        $('#confirmOrderModal').modal('hide');
        if (currentFormId) {
            $('#' + currentFormId).submit();
        }
    });
</script>
@section Scripts {
    <script>
        $(document).ready(function () {
            var message = '@TempData["SuccessMessage"]';
            if (message) {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true,
                    "positionClass": "toast-bottom-right",
                    "timeOut": "4000"
                };
                toastr.success(message);
            }
        });
    </script>
}