@model IEnumerable<ProjectCDTT_63132701.Models.DonHang>
@{
    ViewBag.Title = "QLDH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<h2>Danh sách đơn hàng</h2>
@*<p>
    @Html.ActionLink("Thêm khách hàng", "Create", null, new { @class = "btn btn-success" })
</p>*@

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Họ và tên</th>
            <th>Ngày tạo</th>
            <th>Tổng tiền</th>
            <th>Mã vận đơn</th>
            <th>Trạng thái </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaDH)</td>
                <td>@Html.DisplayFor(modelItem => item.KhachHang.HoTen)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayTao)</td>
                <td>@Html.DisplayFor(modelItem => item.TongTien)</td>
                <td>@Html.DisplayFor(modelItem => item.MaVanDon)</td>
                <td>@Html.DisplayFor(modelItem => item.TrangThai)</td>
@*                <td>
                    <a href="@Url.Action("ChiTietHoaDon", "SanPhams_64130053", new { id = hoaDon.SoHD })"><i class="fa-solid fa-circle-info"></i></a>
                </td>*@
                <td>
                    <a href="@Url.Action("Details", new { id = item.MaDH })" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="@Url.Action("Edit", new { id = item.MaDH })" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.MaDH })" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc muốn xóa đơn hàng này?');">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
