@model IEnumerable<ProjectCDTT_63132701.Models.SanPham>
@{
    ViewBag.Title = "Bong_Tai";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/Content/sanpham.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<div class="container">

    <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "San_pham")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bông tai bạc</li>
            </ol>
        </nav>
    </div>

    <h2>Bông Tai Bạc</h2>

    @using (Html.BeginForm("Bong_Tai", "San_pham", FormMethod.Get))
    {
        <div class="filter-container">
            <div class="filter-options">
                <label>Bộ lọc:</label>

                <select name="minPrice">
                    <option value="">Giá từ</option>
                    <option value="0" @(Request["minPrice"] == "0" ? "selected" : "")>0 VNĐ</option>
                    <option value="5000000" @(Request["minPrice"] == "5000000" ? "selected" : "")>5.000.000 VNĐ</option>
                </select>

                <select name="maxPrice">
                    <option value="">Đến</option>
                    <option value="5000000" @(Request["maxPrice"] == "5000000" ? "selected" : "")>5.000.000 VNĐ</option>
                    <option value="10000000" @(Request["maxPrice"] == "10000000" ? "selected" : "")>10.000.000 VNĐ</option>
                </select>

                <select name="loaiBac">
                    <option value="">Chất liệu</option>
                    <option value="Italy" @(Request["loaiBac"] == "Italy" ? "selected" : "")>Bạc Ý</option>
                    <option value="Thailand" @(Request["loaiBac"] == "Thailand" ? "selected" : "")>Bạc Thái</option>

                </select>
            </div>

            <div class="sort-container">
                <label>Sắp xếp:</label>
                <select name="sapXep">
                    <option value="gia-cao" @(Request["sapXep"] == "gia-cao" ? "selected" : "")>Giá cao nhất</option>
                    <option value="gia-thap" @(Request["sapXep"] == "gia-thap" ? "selected" : "")>Giá thấp nhất</option>
                </select>
            </div>
            <button type="submit" class="btn btn-light">Lọc</button>
        </div>
    }

    <div class="product-container">
        @foreach (var sp in Model)
        {
            <a href="@Url.Action("ChiTietSanPham", "San_pham", new { id = sp.MaSP })" class="product-card">
                <div class="favorite-button">
                    <button type="button" class="btn-favorite" data-id="@sp.MaSP">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                </div>

                <img src="@Url.Content("~/Images/" + sp.AnhSanPham)" alt="@sp.TenSP">
                <div class="product-info">
                    <h3>@sp.TenSP</h3>
                    <p class="material">Loại bạc: @sp.LoaiBac</p>
                    <p class="price">@sp.DonGia.ToString("N0") VNĐ</p>
                </div>
            </a>
        }
    </div>
</div>
