@model IEnumerable<ProjectCDTT_63132701.Models.san_pham>
@{
    ViewBag.Title = "Day_Chuyen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/Content/sanpham.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/Content/Home.css" />
</head>


<h2>Dây chuyền bạc</h2>

<div class="filter-container">
    <div class="filter-options">
        <label>Bộ lọc:</label>
        <select name="minPrice">
            <option value="">Khoảng giá</option>
            <option value="0-5000000">0 - 5.000.000 VNĐ</option>
            <option value="5000000-10000000">5.000.000 - 10.000.000 VNĐ</option>
        </select>
        <select name="chatLieu">
            <option value="">Chất liệu</option>
            <option value="Bạc Ý">Bạc Ý</option>
            <option value="Bạc Thái">Bạc Thái</option>
        </select>


    </div>

    <div class="sort-container">
        <label>Sắp xếp:</label>
        <select name="sapXep">
            <option value="moi-nhat">Sản phẩm mới nhất</option>
            <option value="gia-cao">Giá cao nhất</option>
            <option value="gia-thap">Giá thấp nhất</option>
        </select>
    </div>
    <button type="submit" class="btn btn-light">Lọc</button>
</div>


<div class="product-container">
    @foreach (var sp in Model)
    {
        <div class="product-card">
            <img src="@Url.Content("~/Images/" + sp.anh_san_pham)" alt="@sp.ten_san_pham">
            <div class="product-info">
                <h3>@sp.ten_san_pham</h3>
                <p class="price">@sp.gia.ToString("N0") VNĐ</p>
                @**@              <p class="type">@sp.loai_bac</p>
                @*<p class="date">@sp.ngay_tao?.ToString("dd/MM/yyyy")</p>*@
                <button class="btn btn-dark">Mua ngay</button>
            </div>
        </div>
    }
</div>


