@model IEnumerable<ProjectCDTT_63132701.Models.SanPham>
@{
    ViewBag.Title = "QLSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/Content/qlsp.css" />
</head>


<h2>Danh sách sản phẩm</h2>
<div class="center-button">
    @Html.ActionLink("Thêm Sản Phẩm", "Create", null, new { @class = "btn-submit" })
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Mô tả</th>
            <th>Đơn giá</th>
            <th>Loại sản phẩm</th>
            @*            <th>Trạng thái </th>
                <th></th>*@

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaSP)</td>
                <td>@Html.DisplayFor(modelItem => item.TenSP)</td>
                <td>@Html.DisplayFor(modelItem => item.MoTa)</td>
                <td>@Html.DisplayFor(modelItem => item.DonGia)</td>
                <td>@Html.DisplayFor(modelItem => item.LoaiBac)</td>
                @*                <td>@Html.DisplayFor(modelItem => item.trang_thai)</td>*@
                @*                <td>
                        <a href="@Url.Action("ChiTietHoaDon", "SanPhams_64130053", new { id = hoaDon.SoHD })"><i class="fa-solid fa-circle-info"></i></a>
                    </td>*@
                <td>
                    <a href="@Url.Action("Details", new { id = item.MaSP })" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="@Url.Action("Edit", new { id = item.MaSP })" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.MaSP })" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
