@model ProjectCDTT_63132701.Models.VanChuyen

@{
    ViewBag.Title = "Tạo đơn vận chuyển";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create Shipping</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label>Tỉnh thành phố</label>
            <select id="tinhThanh" class="form-control"></select>
        </div>
        <div class="form-group">
            <label>Quận huyện</label>
            <select id="quanHuyen" class="form-control"></select>
        </div>
        <div class="form-group">
            <label>Phường xã</label>
            <select id="phuongXa" class="form-control"></select>
        </div>

        <input type="hidden" name="TinhThanh" id="inputTinhThanh" />
        <input type="hidden" name="QuanHuyen" id="inputQuanHuyen" />
        <input type="hidden" name="PhuongXa" id="inputPhuongXa" />




        <div class="form-group">
            @Html.Label("Đơn vị vận chuyển", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DonViVanChuyen, (SelectList)ViewBag.DonViVanChuyenList, "-- Chọn đơn vị --", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaVanChuyen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GiaVanChuyen, new { @class = "form-control", placeholder = "vd: 20000" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-warning" />
            </div>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $.getJSON("https://provinces.open-api.vn/api/", function (provinces) {
            $('#tinhThanh').append('<option value="">-- Chọn Tỉnh/Thành --</option>');
            provinces.forEach(function (province) {
                $('#tinhThanh').append(
                    `<option value="${province.code}" data-name="${province.name}">${province.name}</option>`
                );
            });
        });

        $('#tinhThanh').on('change', function () {
            const provinceCode = $(this).val();
            const provinceName = $('#tinhThanh option:selected').data('name');
            $('#inputTinhThanh').val(provinceName);

            $('#quanHuyen').empty().append('<option value="">-- Chọn Quận/Huyện --</option>');
            $('#phuongXa').empty().append('<option value="">-- Chọn Phường/Xã --</option>');

            if (provinceCode) {
                $.getJSON(`https://provinces.open-api.vn/api/p/${provinceCode}?depth=2`, function (province) {
                    province.districts.forEach(function (district) {
                        $('#quanHuyen').append(
                            `<option value="${district.code}" data-name="${district.name}">${district.name}</option>`
                        );
                    });
                });
            }
        });

        $('#quanHuyen').on('change', function () {
            const districtCode = $(this).val();
            const districtName = $('#quanHuyen option:selected').data('name');
            $('#inputQuanHuyen').val(districtName);

            $('#phuongXa').empty().append('<option value="">-- Chọn Phường/Xã --</option>');

            if (districtCode) {
                $.getJSON(`https://provinces.open-api.vn/api/d/${districtCode}?depth=2`, function (district) {
                    district.wards.forEach(function (ward) {
                        $('#phuongXa').append(
                            `<option value="${ward.code}" data-name="${ward.name}">${ward.name}</option>`
                        );
                    });
                });
            }
        });

        $('#phuongXa').on('change', function () {
            const wardName = $('#phuongXa option:selected').data('name');
            $('#inputPhuongXa').val(wardName);
        });
    });
</script>
