@model ProjectCDTT_63132701.Models.VanChuyen

@{
    ViewBag.Title = "Xóa đơn vị vận chuyển";
    Layout = "~/Views/shared/_LayoutAdmin.cshtml";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/delete.css" />
</head>

<div class="form-wrapper">
    <a href="javascript:history.back()" class="back-button">
        <i class="fa-solid fa-chevron-left"></i> Quay lại
    </a>
    <h2 class="mb-4">Bạn có chắc chắn muốn xóa đơn vị vận chuyển này?</h2>

    <div class="row">
        <div class="col-md-12">
            <dl class="row">
                <dt class="col-sm-3">Đơn vị vận chuyển:</dt>
                <dd class="col-sm-9">@Model.DonViVanChuyen</dd>

                <dt class="col-sm-3">Trạng thái:</dt>
                <dd class="col-sm-9">@Model.TrangThai</dd>

                <dt class="col-sm-3">Ngày tạo:</dt>
                <dd class="col-sm-9">@Model.NgayTao?.ToString("dd/MM/yyyy")</dd>

                <dt class="col-sm-3">Thời gian giao:</dt>
                <dd class="col-sm-9">@Model.ThoiGianGiao</dd>

                <dt class="col-sm-3">Thời gian nhận:</dt>
                <dd class="col-sm-9">@Model.ThoiGianNhan</dd>

                <dt class="col-sm-3">Trạng thái đơn hàng:</dt>
                <dd class="col-sm-9">@Model.DonHang?.TrangThai</dd>
            </dl>

            @using (Html.BeginForm("Delete", "Van_chuyen", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.MaVanChuyen)

                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button type="submit" class="btn-submit">
                        <i class="fas fa-trash-alt"></i> Xóa
                    </button>
                    <a href="@Url.Action("QLVC", "Van_chuyen")" class="btn-cancel">
                        Hủy
                    </a>
                </div>
            }
        </div>
    </div>
</div>
